/* Window manager */

.window-manager{
	
}

.stag-root{
	display: flex;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

.stag-menu{
	padding:5px;
	width:234px;
}

.stag-menu-item{
	font-size:small;
	line-height:16px;
	padding:5px;
	height:58px;
	width:58px;
	display:inline-block;
	vertical-align:middle;
	overflow:hidden;
	margin:5px;
}

.stag-menu-filter{
	width:100%;
	margin-bottom:5px;
}

.stag-window-title{
	margin:0;
	font-weight:100;
}